.contactContainer {
    width: 100vw;
    height: 100%;
    background-image: url('../../assets/images/footer.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    font-family: 'Dancing Script', cursive;
    &__logo {
        font-size: 3rem;
        padding: 5% 0 0 5%;
        position: static;
        width: 25%;
    }
    &__contentWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 90vh;
        gap: 10%;
        &__firstP {
            font-family: 'Times New Roman', Times, serif;
            text-align: center;
            font-size: 1.2rem;
            @media screen and (min-width: 1024px) {
                font-size: 2rem;
            }
        }
        &__header {
            font-weight: 700;
            font-size: 1.5rem;
            padding: 0 5%;
            line-height: 7vh;
            text-align: center;
            @media screen and (min-width: 1024px) {
                font-size: 4rem;
            }
        }
        &__button {
            border: 2px solid #e0e0d5;
            border-radius: 25px;
            padding: 1rem;
            button {
                color: #e0e0d5;
                border: none;
                background: transparent;
                font-weight: 1000;
                font-size: 1rem;
            }
        }
        &__button:hover {
            animation: buttonAnimate 4s forwards;
        }
    }
}


@keyframes buttonAnimate {
    0% {
        transform: translateY(-1vh);
    }
    50% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

.copy {
    color: #fff;
    margin: 0;
    text-align: center;
    padding: 3vh 0;
    font-size: .8rem;
    @media screen and (min-width: 350px) {
        margin-top: 5vh;
    }
}